{% extends 'main/base.html' %}
{%block title %} Delete task {%endblock%}
{%block content %}
<h1>Delete task page</h1>
{% if tasks %}
{% for e in tasks %}
<div class="alert alert-warning mt-2">
    <form method="post">
        <h3>{{ e.title }}</h3>
        <p> {{ e.description}}
            {% csrf_token %}
            {{form}}
            <button type='submit' class='btn btn-success'>delete</button>
    </form>
    </p>
</div>
{% endfor %}
{% else %} <div class="alert alert-warning mt-2">No tasks</div>
{% endif %}
{%endblock%}